VITE_SUPABASE_URL=https://your-project-id.supabase.co
VITE_SUPABASE_ANON_KEY=your-anon-key-here
VITE_VAPID_PUBLIC_KEY=BI9jTcF7GNYrRUefFcf5ot5TfHwsePcJbHGXn5AoM4sWqHyX8_oXcowtwnTxGbfVM52GQsH45iuaSEXYwH6i8kA
VAPID_PRIVATE_KEY=LTzP2upE2P9IvWgwWjDv1AY_nDy8n1NTcIlpmX4sJUM
